@media (max-width: 1200px) {
    .carousel {
        min-height: 670px;
        padding: 81px 70px;
        .prev, .next {
            left: -50px;
        }
        .next {
            right: -50px;
            left: auto;
        }
        .tns-item {
            img {
                width: 660px;
            }
        }
    }
}


@media (max-width: 991px) {
    .carousel {
        min-height: 530px;
        .tns-item {
            img {
                max-width: 600px;
            }
        }
    }
}


@media (max-width: 767px) {
    .carousel {
        min-height: 440px;
        .tns-item {
            img {
                width: 100%;
            }
        }
    }
}


@media (max-width: 575px) {
    .carousel {
        min-height: 250px;
        padding: 40px 20px;
        .tns-nav {
            display: flex;
            justify-content: center;
            .tns-nav-active {
                background-color: $main-color;
                border: none;
            }
            button {
                display: block;
                margin: 0 10px 30px 10px;
                width: 30px;
                height: 30px;
                border: 3px solid $main-color;
                border-radius: 100%;
            }
        }
        .prev, .next {
            display: none;
        }


    }
}