@media (max-width: 1200px) {

}


@media (max-width: 991px) {
    .promo {
        padding: 20px;
    }

}


@media (max-width: 767px) {
    .promo {
        background: url(../img/bg/bg_main.png) right (center/cover) no-repeat;
        &__wrapper {
            align-items: center;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
    }
}


@media (max-width: 575px) {
    .promo {
        min-height: 610px;
        padding: 10px 10px 20px 10px;
        &__header {
            text-align: center;
            font-size: 35px;
        }
        &__subheader {
            text-align: center;
            font-size: 15px;
        }
        &__wrapper {
            margin-top: 70px;
        }
        &__icons {
            max-width: 100%;
            margin-top: 30px;
        }
    }
}